/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.slider-wrapper {position: relative;padding: 15px;}
.flexslider {background:url(loader.gif) no-repeat 50% 50%; zoom: 1;}
.flexslider .slides {zoom: 1;overflow:visible;}
.flexslider .slides > li {}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 300px; padding: 13px 25px 16px; margin: 0; position: absolute; right: 30px; bottom: 40px; background-color: rgba(0, 0, 0, 0.5); color: #d7d7d7; font-size: 11px; line-height: 15px; text-shadow: none; -webkit-border-radius: 5px; --moz-border-radius: 5px; border-radius: 5px;}

/* Direction Nav */
.flex-direction-nav {height: 0;}
.flex-direction-nav li a {width: 42px; height: 42px; margin: -13px 0 0; display: block; background: url(bg_direction_nav.png) no-repeat; position: absolute; top: 50%; cursor: pointer; text-indent: -999em;}
.flex-direction-nav li .next {background-position: -42px 0; right: 30px;}
.flex-direction-nav li .prev {left: 30px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav { width: 96% ;position: absolute; bottom: 10px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 8px; height: 8px; display: block; background: url(bg_control_nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.flex-control-nav li a:hover {background-position: 0 -8px;}
.flex-control-nav li a.active {background-position: 0 -16px; cursor: default;}

/* Ribbon */
.ribbon {background:url(ribbon.png) no-repeat; width:111px; height:111px; position:absolute; top:12px; left:12px; z-index:300; }